.scroll-container{
	position: fixed;
	top: calc(50vh - (50vh - 110px));
	width: 15px;
	height: calc(100vh - 220px);
	z-index: 9999;

	animation: init2 .3s cubic-bezier(.73,.14,.41,.89) forwards;
}

@keyframes init2{
	from{
		left: -40px;
		opacity: 0;
	}to{
		left: 20px;
		opacity: 1;
	}	
}

.scroll-container .scroll-indicator{
	position: absolute;
	width: 20px;
	z-index: 0;
	cursor: pointer;
}

.scroll-container .scroll-indicator:before{
	content: "";
	position: absolute;
	display: block;
	margin: 10px 0;
	left: 0;
	width: 1px;
	height: calc(100% - 20px);
	opacity: .5;
	background-color: #485868;

	transition: all .3s;
}

.scroll-container.invert .scroll-indicator:before{
	background-color: #f5a46c;
}

.scroll-container .scroll-indicator:hover:before{
	width: 5px;
}

.scroll-container .scroll-indicator.active:before{
	opacity: 1;
	width: 5px;
}
