/*button*/
button.btn-general{
	position: relative;
	padding: 10px 30px;
	letter-spacing: 1.5px;
	background-color: #9bc63f;
	font-size: 15px;
	color: #fff;
	border: none;	
}

button.btn-general.dark{
	background-color: #679700;
}

button.btn-general span{
	position: relative;
	z-index: 1;
}

button.btn-general:before{
	content: "";
	position: absolute;
	top:0;
	left: 0;
	display: block;
	width: 0;
	height: 100%;
	background-color: #679700;
	z-index: 0;

	transition: width .3s;
}

button.btn-general.dark:before{
	background-color: #4a6c00;
}

button.btn-general:hover:before{
	width: 100%;
}

button.btn-general:hover,
button.btn-general:focus{
	outline: none;
}