/* 
Ascent Framework V2.0.1
By Kaiko

Table of contents
- Colors
- Base Styles
- Grid
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* COLORS */
/* TESTING BORDERS */
.border-red { border: 1px solid #DC3545; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.border-yellow { border: 1px solid #FFC107; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.border-green { border: 1px solid #28A745; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.border-blue { border: 1px solid #007BFF; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.border-black { border: 1px solid #222; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

.border-red { border: 1px solid #DC3545; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

/* BASE STYLE */
html, body { margin: 0; height: 100%; font-family: "Poppins", helvetica, arial, serif; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

/* NOTE
html is set to 62.5% so that all the REM measurements throughout
are based on 10px sizing. So basically 1.5rem = 15px :) */
html { font-size: 62.5%; }

body { font-size: 1.6em; /* currently ems cause chrome bug misinterpreting rems on body element */ line-height: 1.6; font-weight: 400; }
@media (max-width: 599px) { body { font-size: 1.4em; line-height: 1.4; } }

*:focus { outline: none; }

/* GRID */
.grid-col { grid-column: auto; background-color: #17A2B8; display: flex; justify-content: center; align-items: center; }
.grid-col.grid-col-1 { grid-column: 1 / 2; }
.grid-col.grid-col-2 { grid-column: 2 / -1; }

.container { position: relative; width: 100%; max-width: 1100px; margin: 0 auto; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
@media (max-width: 599px) { .container { margin: 0 auto; width: 92%; padding: 0; } }
.container.pad-1 { padding-top: 10rem; }
.container.pad-2 { padding-top: 20rem; }

.column, .columns { width: 100%; float: left; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

@media (min-width: 1200px) { .container { width: 80%; } }
@media (min-width: 900px) { .container { width: 100%; }
  .column, .columns { margin-left: 2rem; }
  .column:first-child, .columns:first-child { margin-left: 0; }
  .one.column, .one.columns { width: 4.66666666667%; }
  .two.columns { width: 13.3333333333%; }
  .three.columns { width: 22%; }
  .four.columns { width: 30.6666666667%; }
  .five.columns { width: 39.3333333333%; }
  .six.columns { width: 48%; }
  .seven.columns { width: 56.6666666667%; }
  .eight.columns { width: 65.3333333333%; }
  .nine.columns { width: 74.0%; }
  .ten.columns { width: 82.6666666667%; }
  .eleven.columns { width: 91.3333333333%; }
  .twelve.columns { width: 100%; margin-left: 0; }
  .one-third.column { width: 30.6666666667%; }
  .two-thirds.column { width: 65.3333333333%; }
  .one-half.column { width: 48%; }
  /* Offsets */
  .offset-by-one.column, .offset-by-one.columns { margin-left: 8.66666666667%; }
  .offset-by-two.column, .offset-by-two.columns { margin-left: 17.3333333333%; }
  .offset-by-three.column, .offset-by-three.columns { margin-left: 26%; }
  .offset-by-four.column, .offset-by-four.columns { margin-left: 34.6666666667%; }
  .offset-by-five.column, .offset-by-five.columns { margin-left: 43.3333333333%; }
  .offset-by-six.column, .offset-by-six.columns { margin-left: 52%; }
  .offset-by-seven.column, .offset-by-seven.columns { margin-left: 60.6666666667%; }
  .offset-by-eight.column, .offset-by-eight.columns { margin-left: 69.3333333333%; }
  .offset-by-nine.column, .offset-by-nine.columns { margin-left: 78.0%; }
  .offset-by-ten.column, .offset-by-ten.columns { margin-left: 86.6666666667%; }
  .offset-by-eleven.column, .offset-by-eleven.columns { margin-left: 95.3333333333%; }
  .offset-by-one-third.column, .offset-by-one-third.columns { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column, .offset-by-two-thirds.columns { margin-left: 69.3333333333%; }
  .offset-by-one-half.column, .offset-by-one-half.columns { margin-left: 52%; } }
/* Utilities*/
.u-full-width { width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

.u-max-full-width { max-width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

.u-full-height { min-height: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

.u-pull-right { float: right; }

.u-pull-left { float: left; }

/* TYPOGRAPHY */
.lowercase { text-transform: lowercase; }

.uppercase { text-transform: uppercase; }

.capitalize { text-transform: capitalize; }

h1, h2, h3, h4, h5, h6, p, small, label { margin-top: 0; margin-bottom: 1.2rem; }
h1.no-mar, h2.no-mar, h3.no-mar, h4.no-mar, h5.no-mar, h6.no-mar, p.no-mar, small.no-mar, label.no-mar { margin-bottom: 0; }

h1 { font-size: 4.0rem; line-height: 1.2; font-weight: 700; }

h2 { font-size: 3.2rem; line-height: 1.25; font-weight: 700; }

h3 { font-size: 2.8rem; line-height: 1.3; font-weight: 700; }

h4 { font-size: 2.4rem; line-height: 1.35; font-weight: 600; }

h5 { font-size: 2.0rem; line-height: 1.4; font-weight: 600; }

h6 { font-size: 1.6rem; line-height: 1.6; font-weight: 600; }

p { font-size: 1.4rem; font-weight: 400; margin-top: 0; }

small { font-size: 1.2rem; line-height: 1.6; font-weight: 300; color: #D6D6D6; }

@media (max-width: 899px) and (min-width: 1px) { h1 { font-size: 3.2rem; }
  h1.large { font-size: 8.2rem; }
  h2 { font-size: 2.8rem; }
  h3 { font-size: 2.4rem; }
  h4 { font-size: 1.6rem; }
  h5 { font-size: 1.4rem; }
  h6 { font-size: 1.2rem; } }
/* LINKS & BREADCRUMBS */
a { color: #FFA465; font-weight: inherit; text-decoration: none; }
a:hover { color: #FF6F43; cursor: pointer; }
a.not-active, a.bread-active { pointer-events: none; cursor: default; text-decoration: none; color: #7F7F7F; }
a.bread-active { color: #7F7F7F; }
a + span:after { color: #D6D6D6; content: "\00a0\00a0\00a0/\00a0\00a0"; }

.breadcrumb-box a { font-weight: 500; }
@media (min-width: 900px) { .breadcrumb-box { margin-bottom: 2.0rem; } }

/* BUTTONS */
button, div.button, input[type="submit"], input[type="reset"], input[type="button"] { color: #FFF; margin-top: 1rem; margin-bottom: 1rem; display: inline-block; padding: 10px 20px; height: 5.2rem; min-width: 80px; cursor: pointer; border: none; text-align: center; font-size: 1.4rem; letter-spacing: 0; font-weight: 700; text-transform: capitalize; text-decoration: none; white-space: nowrap; background-color: transparent; -webkit-border-radius: 6px; border-radius: 6px; background-clip: padding-box; /* stops bg color from leaking outside the border: */ box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; -webkit-box-shadow: 0 4px 8px 0 rgba(255, 111, 67, 0.4); -moz-box-shadow: 0 4px 8px 0 rgba(255, 111, 67, 0.4); box-shadow: 0 4px 8px 0 rgba(255, 111, 67, 0.4); }
button:hover, button:focus, div.button:hover, div.button:focus, input[type="submit"]:hover, input[type="submit"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="button"]:hover, input[type="button"]:focus { -webkit-box-shadow: 0 8px 16px -4px rgba(255, 111, 67, 0.8); -moz-box-shadow: 0 8px 16px -4px rgba(255, 111, 67, 0.8); box-shadow: 0 8px 16px -4px rgba(255, 111, 67, 0.8); }
@media (max-width: 599px) { button, div.button, input[type="submit"], input[type="reset"], input[type="button"] { padding: 8px 18px; height: 5.0rem; min-width: 60px; border: none; font-size: 1.4rem; letter-spacing: 0; font-weight: 600; } }
button .button-content, div.button .button-content, input[type="submit"] .button-content, input[type="reset"] .button-content, input[type="button"] .button-content { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -moz-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
button.button-icon .icon, div.button.button-icon .icon, input[type="submit"].button-icon .icon, input[type="reset"].button-icon .icon, input[type="button"].button-icon .icon { height: 16px; width: 16px; margin-right: 10px; }
button.button-primary, div.button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary { background-color: #FF6F43; }
button.button-primary:hover, button.button-primary:focus, div.button.button-primary:hover, div.button.button-primary:focus, input[type="submit"].button-primary:hover, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:hover, input[type="reset"].button-primary:focus, input[type="button"].button-primary:hover, input[type="button"].button-primary:focus { background-color: #ff8632; }
button.button-secondary, div.button.button-secondary, input[type="submit"].button-secondary, input[type="reset"].button-secondary, input[type="button"].button-secondary { color: #FF6F43; background-color: transparent; -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0); -moz-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0); box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0); }
button.button-secondary:hover, button.button-secondary:focus, div.button.button-secondary:hover, div.button.button-secondary:focus, input[type="submit"].button-secondary:hover, input[type="submit"].button-secondary:focus, input[type="reset"].button-secondary:hover, input[type="reset"].button-secondary:focus, input[type="button"].button-secondary:hover, input[type="button"].button-secondary:focus { color: #FFA465; }
button.button-line, div.button.button-line, input[type="submit"].button-line, input[type="reset"].button-line, input[type="button"].button-line { color: #FF6F43; background-color: transparent; border: 1px solid #FF6F43; -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0); -moz-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0); box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0); }
button.button-line:hover, button.button-line:focus, div.button.button-line:hover, div.button.button-line:focus, input[type="submit"].button-line:hover, input[type="submit"].button-line:focus, input[type="reset"].button-line:hover, input[type="reset"].button-line:focus, input[type="button"].button-line:hover, input[type="button"].button-line:focus { color: #FFA465; border-color: #FFA465; }
button.button-success, div.button.button-success, input[type="submit"].button-success, input[type="reset"].button-success, input[type="button"].button-success { background-color: #28A745; }
button.button-success:hover, button.button-success:focus, div.button.button-success:hover, div.button.button-success:focus, input[type="submit"].button-success:hover, input[type="submit"].button-success:focus, input[type="reset"].button-success:hover, input[type="reset"].button-success:focus, input[type="button"].button-success:hover, input[type="button"].button-success:focus { background-color: #2dbc4e; }
button.button-warning, div.button.button-warning, input[type="submit"].button-warning, input[type="reset"].button-warning, input[type="button"].button-warning { background-color: #FFC107; }
button.button-warning:hover, button.button-warning:focus, div.button.button-warning:hover, div.button.button-warning:focus, input[type="submit"].button-warning:hover, input[type="submit"].button-warning:focus, input[type="reset"].button-warning:hover, input[type="reset"].button-warning:focus, input[type="button"].button-warning:hover, input[type="button"].button-warning:focus { background-color: #ffc926; }
button.button-danger, div.button.button-danger, input[type="submit"].button-danger, input[type="reset"].button-danger, input[type="button"].button-danger { background-color: #DC3545; }
button.button-danger:hover, button.button-danger:focus, div.button.button-danger:hover, div.button.button-danger:focus, input[type="submit"].button-danger:hover, input[type="submit"].button-danger:focus, input[type="reset"].button-danger:hover, input[type="reset"].button-danger:focus, input[type="button"].button-danger:hover, input[type="button"].button-danger:focus { background-color: #e14f5d; }
button.button-info, div.button.button-info, input[type="submit"].button-info, input[type="reset"].button-info, input[type="button"].button-info { background-color: #007BFF; }
button.button-info:hover, button.button-info:focus, div.button.button-info:hover, div.button.button-info:focus, input[type="submit"].button-info:hover, input[type="submit"].button-info:focus, input[type="reset"].button-info:hover, input[type="reset"].button-info:focus, input[type="button"].button-info:hover, input[type="button"].button-info:focus { background-color: #1f8bff; }
button.button-gradient, div.button.button-gradient, input[type="submit"].button-gradient, input[type="reset"].button-gradient, input[type="button"].button-gradient { background: -webkit-gradient(linear, left top, right top, from(#FFA465), to(#FF6F43)); background: -webkit-linear-gradient(left, #FFA465, #FF6F43); background: -moz-linear-gradient(left, #FFA465, #FF6F43); background: -ms-linear-gradient(left, #FFA465, #FF6F43); background: -o-linear-gradient(left, #FFA465, #FF6F43); }
button.button-gradient:hover, button.button-gradient:focus, div.button.button-gradient:hover, div.button.button-gradient:focus, input[type="submit"].button-gradient:hover, input[type="submit"].button-gradient:focus, input[type="reset"].button-gradient:hover, input[type="reset"].button-gradient:focus, input[type="button"].button-gradient:hover, input[type="button"].button-gradient:focus { background-color: #1f8bff; }
button.large, div.button.large, input[type="submit"].large, input[type="reset"].large, input[type="button"].large { height: 6.0rem; min-width: 200px; padding: auto 32px; }

/* BOXES */
div.mainBox { padding: 20px 30px; background-color: #FFF; -webkit-border-radius: 6px; border-radius: 6px; background-clip: padding-box; /* stops bg color from leaking outside the border: */ -webkit-box-shadow: 0 15px 25px 0 rgba(224, 224, 224, 0.5); -moz-box-shadow: 0 15px 25px 0 rgba(224, 224, 224, 0.5); box-shadow: 0 15px 25px 0 rgba(224, 224, 224, 0.5); margin-bottom: 2rem; }
@media (max-width: 599px) { div.mainBox { padding: 20px 20px; } }

/*  */
body { color: #292929; background: #F6F7FB; }

.main-container { display: grid; }
@media (max-width: 899px) and (min-width: 1px) { .main-container { grid-template-columns: [menu-start main-start] 1fr [menu-end main-end]; grid-template-rows: [nav-start] 60px [nav-end menu-start] 0 [menu-end main-start] 1fr [main-end]; }
  .main-container.mobile-mode #menu { height: auto; -webkit-transition: height 3s cubic-bezier(0.445, 0.05, 0.55, 0.95); -moz-transition: height 3s cubic-bezier(0.445, 0.05, 0.55, 0.95); -ms-transition: height 3s cubic-bezier(0.445, 0.05, 0.55, 0.95); -o-transition: height 3s cubic-bezier(0.445, 0.05, 0.55, 0.95); transition: height 3s cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  .main-container #mobileMenu { grid-column: main-start / main-end; grid-row: 1 / -1; }
  .main-container #header { grid-column: main-start / main-end; grid-row: nav-start / nav-end; }
  .main-container #menu { background-color: #292929; height: 0px; grid-column: menu-start / menu-end; grid-row: menu-start / menu-end; -webkit-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95); -moz-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95); -ms-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95); -o-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95); transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  .main-container #menu.expand { width: auto; -webkit-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95); -moz-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95); -ms-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95); -o-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95); transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  .main-container #menu.expand .menu-text { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 100%; width: 140px; }
  .main-container #menu.expand .menu-text.hide { visibility: visible; width: 100%; }
  .main-container #content { background-color: #F6F7FB; grid-column: main-start / main-end; grid-row: main-start / -1; padding: 20px 30px; overflow: scroll; -webkit-overflow-scrolling: touch; position: relative; } }
@media (max-width: 899px) and (min-width: 1px) and (max-width: 599px) { .main-container #content { padding: 10px 0px; } }

@media (min-width: 900px) { .main-container { grid-template-columns: [menu-start] auto [menu-end main-start] 1fr [main-end]; grid-template-rows: [nav-start] 60px [nav-end main-start] 1fr [main-end]; }
  .main-container #header { grid-column: main-start / main-end; grid-row: nav-start / nav-end; }
  .main-container #mobileMenu { display: none; }
  .main-container #menu { background-color: #292929; width: 80px; grid-column: menu-start / menu-end; grid-row: nav-start / main-end; -webkit-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95); -moz-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95); -ms-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95); -o-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95); transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  .main-container #menu.expand { width: 220px; -webkit-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95); -moz-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95); -ms-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95); -o-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95); transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  .main-container #content { background-color: #F6F7FB; grid-column: main-start / main-end; grid-row: main-start / main-end; padding: 30px 50px; overflow: scroll; -webkit-overflow-scrolling: touch; position: relative; } }

.flex-wrapper { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.flex-wrapper .flex-1 { -webkit-box-flex: 1 0 auto; -moz-box-flex: 1 0 auto; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; flex: 1 0 auto; }
.flex-wrapper .flex-2 { -webkit-box-flex: 2 0 auto; -moz-box-flex: 2 0 auto; -webkit-flex: 2 0 auto; -ms-flex: 2 0 auto; flex: 2 0 auto; }
.flex-wrapper .flex-3 { -webkit-box-flex: 3 0 auto; -moz-box-flex: 3 0 auto; -webkit-flex: 3 0 auto; -ms-flex: 3 0 auto; flex: 3 0 auto; }
.flex-wrapper .flex-4 { -webkit-box-flex: 4 0 auto; -moz-box-flex: 4 0 auto; -webkit-flex: 4 0 auto; -ms-flex: 4 0 auto; flex: 4 0 auto; }
.flex-wrapper .flex-5 { -webkit-box-flex: 5 0 auto; -moz-box-flex: 5 0 auto; -webkit-flex: 5 0 auto; -ms-flex: 5 0 auto; flex: 5 0 auto; }
.flex-wrapper .flex-6 { -webkit-box-flex: 6 0 auto; -moz-box-flex: 6 0 auto; -webkit-flex: 6 0 auto; -ms-flex: 6 0 auto; flex: 6 0 auto; }
.flex-wrapper .flex-7 { -webkit-box-flex: 7 0 auto; -moz-box-flex: 7 0 auto; -webkit-flex: 7 0 auto; -ms-flex: 7 0 auto; flex: 7 0 auto; }
.flex-wrapper .flex-8 { -webkit-box-flex: 8 0 auto; -moz-box-flex: 8 0 auto; -webkit-flex: 8 0 auto; -ms-flex: 8 0 auto; flex: 8 0 auto; }
.flex-wrapper .flex-9 { -webkit-box-flex: 9 0 auto; -moz-box-flex: 9 0 auto; -webkit-flex: 9 0 auto; -ms-flex: 9 0 auto; flex: 9 0 auto; }
.flex-wrapper .flex-10 { -webkit-box-flex: 10 0 auto; -moz-box-flex: 10 0 auto; -webkit-flex: 10 0 auto; -ms-flex: 10 0 auto; flex: 10 0 auto; }
.flex-wrapper .flex-11 { -webkit-box-flex: 11 0 auto; -moz-box-flex: 11 0 auto; -webkit-flex: 11 0 auto; -ms-flex: 11 0 auto; flex: 11 0 auto; }
.flex-wrapper .flex-12 { -webkit-box-flex: 12 0 auto; -moz-box-flex: 12 0 auto; -webkit-flex: 12 0 auto; -ms-flex: 12 0 auto; flex: 12 0 auto; }
.flex-wrapper.flex-direction-column { -webkit-box-direction: normal; -moz-box-direction: normal; -webkit-box-orient: vertical; -moz-box-orient: vertical; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
.flex-wrapper.flex-direction-row { -webkit-box-direction: normal; -moz-box-direction: normal; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; }
.flex-wrapper.flex-justify-center { -webkit-box-pack: center; -moz-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.flex-wrapper.flex-justify-between { -webkit-box-pack: justify; -moz-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
.flex-wrapper.flex-justify-around { -webkit-box-pack: justify; -moz-box-pack: justify; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
.flex-wrapper.flex-justify-end { -webkit-box-pack: end; -moz-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }
.flex-wrapper.flex-align-center { -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.flex-wrapper.flex-align-between { -webkit-box-align: space-between; -moz-box-align: space-between; -webkit-align-items: space-between; -ms-flex-align: space-between; align-items: flex- space-between; }
.flex-wrapper.flex-align-around { -webkit-box-align: space-around; -moz-box-align: space-around; -webkit-align-items: space-around; -ms-flex-align: space-around; align-items: flex- space-around; }
.flex-wrapper.flex-align-end { -webkit-box-align: end; -moz-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }

#header { max-height: 60px; background-color: #FFF; padding: 0 50px; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -moz-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 899px) and (min-width: 1px) { #header { padding: 0 30px; background-color: #292929; }
  #header svg { fill: #FFF; } }
#header .head-content { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -moz-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
#header .head-content .icon { height: 24px; width: 24px; }
#header .head-left { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -moz-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
#header .head-left > * { margin-right: 20px; }
#header .head-left > *:last-child { margin-right: 0; }
#header .head-left .head-logo-box { margin-left: 1rem; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -moz-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
#header .head-left .head-logo-box #kyooLogo2 { height: 24px; width: auto; }
@media (max-width: 599px) { #header .head-left .head-logo-box #kyooLogo2 { display: none; } }
#header .head-left .head-logo-box #kyooLogoText2 { margin: 0.8rem 0 0 1.5rem; height: 24px; }
@media (max-width: 599px) { #header .head-left .head-logo-box #kyooLogoText2 { margin-left: 0; } }
#header .head-right { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -moz-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
#header .head-right > * { margin-left: 24px; }
#header .head-right > *:first-child { margin-left: 0; }
@media (max-width: 899px) and (min-width: 1px) { #header .head-right > * { margin-left: 28px; } }
@media (max-width: 599px) { #header .head-right > * { margin-left: 20px; } }
#header .head-right .account-logo { height: 40px; width: 40px; background-color: #FFF; }
#header .head-right .account-logo:hover { cursor: pointer; }
@media (max-width: 899px) and (min-width: 1px) { #header .icon svg { fill: #FFF; }
  #header .icon svg:hover { fill: #FF6F43; } }

#mobileMenu { position: absolute; z-index: 999; background-color: rgba(41, 41, 41, 0.9); height: 100%; width: 100%; }
#mobileMenu .mobile-menu-top { width: auto; height: 60px; padding: 0 30px; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
#mobileMenu .mobile-menu-top .icon svg { fill: #FFF; }
#mobileMenu .mobile-menu-top .head-logo-box { margin-left: 3rem; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -moz-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
#mobileMenu .mobile-menu-top .head-logo-box #kyooLogo { height: 24px; width: auto; }
@media (max-width: 599px) { #mobileMenu .mobile-menu-top .head-logo-box #kyooLogo { display: none; } }
#mobileMenu .mobile-menu-top .head-logo-box #kyooLogoText { margin: 0.8rem 0 0 1.5rem; height: 24px; }
@media (max-width: 599px) { #mobileMenu .mobile-menu-top .head-logo-box #kyooLogoText { margin-left: 0; } }

#menu { color: #FFF; }
#menu .menu-toggle:hover { cursor: pointer; }
#menu .menu-logo-box { padding: 0 1.4rem; height: 60px; background: -webkit-gradient(linear, left top, right top, from(#FFA465), to(#FF6F43)); background: -webkit-linear-gradient(left, #FFA465, #FF6F43); background: -moz-linear-gradient(left, #FFA465, #FF6F43); background: -ms-linear-gradient(left, #FFA465, #FF6F43); background: -o-linear-gradient(left, #FFA465, #FF6F43); display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: start; -moz-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
#menu .menu-logo-box img { height: 60%; width: auto; }
#menu .menu-logo-box #kyooLogoText { margin: 0.8rem 0 0 1.8rem; height: 56%; }
@media (max-width: 899px) and (min-width: 1px) { #menu .menu-logo-box { display: none; } }
#menu .menu-container { padding: 8px 0; }
#menu .menu-container .menu-box { height: 60px; width: 100%; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: start; -moz-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
#menu .menu-container .menu-box:hover { cursor: pointer; background-color: #4c4c4c; -webkit-transition: all 0.08s ease-in; -moz-transition: all 0.08s ease-in; -ms-transition: all 0.08s ease-in; -o-transition: all 0.08s ease-in; transition: all 0.08s ease-in; }
#menu .menu-container .menu-box .menu-icon { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -moz-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 100%; width: 80px; }
#menu .menu-container .menu-box .menu-icon .menu-icon-img { fill: #FFF; width: 24px; height: auto; max-height: 24px; }
#menu .menu-container .menu-box .menu-text { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 100%; width: 140px; }
#menu .menu-container .menu-box .menu-text.hide { width: 0; }
#menu .menu-container .menu-box.active { background-color: #F6F7FB; color: #292929; }
#menu .menu-container .menu-box.active .menu-icon-img { fill: #292929; }
#menu .menu-container .menu-box.active .menu-text { font-weight: 600; }
#menu .menu-container .menu-box.active:hover { background-color: #e4e7f3; }

.hide { -webkit-transition: 0.2s ease-out; -moz-transition: 0.2s ease-out; -ms-transition: 0.2s ease-out; -o-transition: 0.2s ease-out; transition: 0.2s ease-out; opacity: 0; visibility: hidden; }

.show { -webkit-transition: 0.4s ease-in; -moz-transition: 0.4s ease-in; -ms-transition: 0.4s ease-in; -o-transition: 0.4s ease-in; transition: 0.4s ease-in; opacity: 1; visibility: visible; }

@media (max-width: 899px) and (min-width: 1px) { .hide-mobile { -webkit-transition: 0.2s ease-out; -moz-transition: 0.2s ease-out; -ms-transition: 0.2s ease-out; -o-transition: 0.2s ease-out; transition: 0.2s ease-out; opacity: 0; visibility: hidden; } }

.title-box { margin-bottom: 1rem; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -moz-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.title-box h1 { margin-bottom: 0; }
.title-box .button-box { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -moz-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.title-box .button-box button, .title-box .button-box div.button, .title-box .button-box input[type="submit"], .title-box .button-box input[type="reset"], .title-box .button-box input[type="button"] { margin-left: 16px; }
.title-box .button-box button:first-child, .title-box .button-box div.button:first-child, .title-box .button-box input[type="submit"]:first-child, .title-box .button-box input[type="reset"]:first-child, .title-box .button-box input[type="button"]:first-child { margin-left: 0; }
@media (max-width: 599px) { .title-box { -webkit-box-direction: normal; -moz-box-direction: normal; -webkit-box-orient: vertical; -moz-box-orient: vertical; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .title-box h1 { align-text: center; margin: 2rem 0 1rem; }
  .title-box .button-box { margin-left: 0; } }

@media (max-width: 899px) and (min-width: 1px) { h5.box-title { font-size: 1.6rem; } }

.button-box { margin-left: 16px; }
.button-box:first-child { margin-left: 0; }

.img-circle { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -moz-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-border-radius: 100px; border-radius: 100px; background-clip: padding-box; /* stops bg color from leaking outside the border: */ overflow: hidden; }
.img-circle img { height: 92%; width: auto; }

.icon { overflow: hidden; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -moz-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.icon img { height: 90%; width: auto; }
.icon svg { width: 24px; height: 24px; fill: #292929; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.icon:hover { -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; cursor: pointer; }
.icon:hover svg { fill: #FF6F43; }

.account-box { width: 100%; margin: 0 auto; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; display: grid; grid-gap: 2rem; }
.account-box .account-score-box { width: 100%; margin: 0 auto; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; display: grid; grid-gap: 2rem; grid-template-columns: repeat(2, 1fr); }
.account-box .account-score-box .mainBox { min-height: 107px; }
@media (max-width: 899px) and (min-width: 1px) { .account-box .account-score-box .mainBox { min-height: 0; } }
@media (min-width: 1200px) { .account-box { grid-template-columns: 2fr 1fr; }
  .account-box .account-detail-box { min-height: 482px; }
  .account-box .account-right { min-width: 350px; } }
@media (max-width: 1199px) and (min-width: 1px) { .account-box { grid-gap: 0rem; } }

.mainBox.scoreboard { text-align: center; padding: 20px 20px; }
.mainBox.scoreboard > .score-title { margin-bottom: 0.8rem; }
.mainBox.scoreboard .score { font-size: 5.6rem; line-height: 1.2; font-weight: 700; }
@media (max-width: 899px) and (min-width: 1px) { .mainBox.scoreboard .score { font-size: 4.0rem; } }

.account-detail-box .account-logo { border: 1px solid #F0F0F0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; margin: 2rem auto 3rem; }
@media (min-width: 1800px) { .account-detail-box .account-logo { height: 160px; width: 160px; } }
@media (min-width: 600px) { .account-detail-box .account-logo { height: 140px; width: 140px; } }
@media (max-width: 599px) { .account-detail-box .account-logo { height: 120px; width: 120px; } }

.table-opt-hour { padding-bottom: 1rem; width: 100%; }
.table-opt-hour .opt-day { color: #7F7F7F; }
@media (max-width: 599px) { .table-opt-hour .opt-day { padding-bottom: 0.5rem; } }
.table-opt-hour .opt-time { text-align: center; width: 50%; }
.table-opt-hour .opt-time.close { color: #DC3545; font-weight: 500; }

.table-account-details { padding-bottom: 1rem; width: 100%; }
.table-account-details .txt-label { text-align: left; color: #7F7F7F; width: 30%; margin-bottom: 1rem; }
@media (max-width: 599px) { .table-account-details .txt-label { width: 40%; } }
.table-account-details .txt-answer { text-align: left; color: #292929; width: 70%; }
@media (max-width: 599px) { .table-account-details .txt-answer { width: 60%; padding-left: 10px; } }

.account-device-box { height: 100%; max-height: 350px; position: relative; }
.account-device-box .device-container { margin-top: 2rem; height: 300px; overflow: scroll; -webkit-overflow-scrolling: touch; }

.device-box { height: 52px; margin-bottom: 1.6rem; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: justify; -moz-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.device-box .device-img { width: 52px; height: 52px; }
.device-box .device-model { padding-right: 1rem; }
.device-box .device-left { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.device-box .device-left .device-id { font-weight: 500; }
.device-box .device-left > * { padding-left: 16px; }
.device-box .device-left > *:first-child { padding-left: 0; }
