@import '_style';

h1 {
    color: $kyoo-b;	
    font-size: 42px;
    font-weight: bold;
    margin: 0;
    @include for-size(large-desktop-up){font-size: 50px;}
    @include for-size(desktop-down){font-size: 32px;}
    @include for-size(phone-only){font-size: 24px;}
}
h3 {
    color: $dark-2;
    font-size: 18px;
    @include for-size(xl-desktop-up){font-size: 24px;}
    @include for-size(large-desktop-up){font-size: 20px;}	
    @include for-size(desktop-down){font-size: 16px;}
    @include for-size(phone-only){font-size: 14px;}
    font-weight: 400;
    margin: 0;
}

.shadow-1{
    @include box-shadow(0 16px 20px 0 rgba(64,107,194,0.1));
    // box-shadow: 0 16px 20px 0 rgba(64,107,194,0.1);
}

#mainContainer{
    @include grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    
    #boxServing{
        background-color: #FFF;
        grid-column: 6 / 9;
        grid-row: 1 / 7; 
        z-index: 1;
        padding: 30px;
        @include for-size(desktop-down){grid-column: 1 / 5; grid-row: 1 / 6;}
        @include for-size(xl-desktop-up){padding: 40px;}
        @include for-size(portrait){grid-column: 1 / 6; grid-row: 3 / 7; padding: 16px;}
        @extend .shadow-1;
        @include flexbox;
        .title-box{
            width: 100%;
            @include flexbox;
            @include align-items(center);
            @include flex-direction(column);
            text-align: center;
        }
    }
    #boxNotify{
        background-color: #212121;
        grid-column: 6 / 9;
        grid-row: 7 / 9; 
        @include for-size(desktop-down){grid-column: 5 / 9; grid-row: 1 / 6; }
        @include for-size(portrait){grid-column: 1 / 9; grid-row: 7 / 9; }
    }
    #boxAds{
        background-color: #000;
        grid-column: 1 / 6;
        grid-row: 1 / 7; 
        @include for-size(desktop-down){grid-column: 5 / 9; grid-row: 6 / 9; }
        @include for-size(portrait){grid-column: 1 / 9; grid-row: 1 / 3; }
        .adbox{
            width: 100%; height: 100%;
            // padding:56.25% 0 0 0;
            position:relative;
            iframe { width: 100%; height: 100%;}
        }
        // style="position:absolute;top:0;left:0;width:100%;height:100%;"
    }
    #boxList{
        background-color: #F3F6FC;
        grid-column: 1 / 6;
        grid-row: 7 / 9; 
        @include for-size(desktop-down){grid-column: 1 / 5; grid-row: 6 / 9; }
        @include for-size(portrait){grid-column: 6 / 9; grid-row: 3 / 7; }
    }
    
}