.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.cover_filter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -50;
  background-color: rgba(0,0,0,0.5);
}

.cover_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .cover_video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .cover_video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .cover {
    background: url('../assets/videos/cover.jpg') center center / cover no-repeat;
  }
  .cover_video {
    display: none;
  }
}