@import '_you';






// GENERAL
.wrapper {
	height: 100%; width: 100%;
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	.container { 
		height: 100%; width: 80%; 
		&.container-fluid{
			width: 100%; 
		}
		@include for-size(tablet-landscape-down) { width: 94%; }
		@include for-size(phone-only) { width: 92%; }
	}
}
a {
	text-decoration: none;
	&:hover { cursor: pointer; outline: none; }
	&.disabled {
	    pointer-events: none;
	}
}

footer#footer{
	font-size: 1.4rem; 
	color: $white;
	background-color: $secondary;
	color: $grey-2;
	.wrapper { 
		// height: 50px;
		@include flexbox;
		@include align-items(center);
		@include flex-direction(column);

		.footer-top {
			width: 100%;
			@include background-color($secondary-dark);
			.container {
				padding: 4rem 0;
				@include flexbox;
				@include justify-content(space-between);

				@include for-size(tablet-landscape-down) {
					@include flex-direction(column);
					padding: 4rem 0 2em;
				}
				.footer-box {
					// border: 1px solid red;
					width: 100%;
					@include flexbox;
					@include for-size(tablet-landscape-down) {
						margin-bottom: 2em; 
						// &:last-child{ margin-bottom: 3em; }
					}
					@include for-size(phone-only) {
						// @include flex-direction(column);
					}
					.footer-item {
						width: 100%;
						@include flexbox;
						@include flex-direction(column);
						@include align-items(flex-start);
						height: auto;
						@include for-size(phone-only) {
							margin-bottom: 2em;
							&:last-child{ margin-bottom: 0em; }
						}
						// @include transition(all 0.3s ease-out); 
						h6 {color: $white; }
						a, span { margin-bottom: 0.6em; }
						& :last-child{ margin-bottom: 0; }

						&.address {
							margin-right: 2em; max-width: 200px;
							.address-box {max-width: none;}
							@include for-size(tablet-landscape-down) { 
								margin-right: 2em; max-width: none;
								.address-box {max-width: 300px; }
							}
						}

						&.social img {
							@include transition(all 0.3s ease-out); 
							height: 24px; width: 24px;
							margin-right: 1rem;
							@include opacity(0.4);
							&:hover{@include opacity(1);}
							@include for-size(tablet-landscape-down) { height: 36px; width: 36px; margin-right: 2rem;}
						}
						&.links { }
						&.products { }
						&.footer-leisue {
							@include flexbox;
							@include flex-direction(row);
							@include align-items(center);
							margin-right: 2em;
							max-width: 420px;
							img.footer-logo-1 { display: inline; width: 80px; height: auto; margin-right: 2em; }
							img.footer-logo-2 { display: none }
							@include for-size(desktop-down) {
								@include flex-direction(column);
								@include align-items(flex-start);
								img.footer-logo-1, h6 { display: none }
								img.footer-logo-2 { display: inline; width: auto; height: 50px; margin-bottom: 1em; }
							}
							@include for-size(tablet-landscape-down) {
								@include flex-direction(row);
								img.footer-logo-2 { margin-right: 2em; }
								max-width: none;
							}
							@include for-size(phone-only) {
								margin-right: 0em;
								@include flex-direction(column);
								@include align-items(flex-start);
								img.footer-logo-1, h6 { display: none }
								img.footer-logo-2 { display: inline; width: auto; height: 50px; margin-bottom: 1em; }
							}
						}
					}
				}
				.footer-1 { @include for-size(tablet-landscape-down) { @include order(3);} margin-bottom: 0em; }
				.footer-2 { @include for-size(tablet-landscape-down) { @include order(1);} }
				.footer-3 { @include for-size(tablet-landscape-down) { @include order(2);} }
			}
		}
		.footer-bot {
			height: 60px;
			width: 100%;
			@include background-color($grey-1);
			.container {
				@include flexbox;
				@include justify-content(space-between);
				@include align-items(center);
			}
		}
	}
} 


// PARALLAX BG
.parallax-window {
    min-height: 400px;
    background: transparent;
}

// LINK Style
.link-1 {
	color: inherit;
	@include transition(all 0.3s ease-out); 
	border-bottom: 1px solid $secondary-light;
	@include border-radius(1px); 
	&:hover { 
		color: $white;
		border-bottom: 1px solid $primary; 
	}
}
.link-2 { 
	color: inherit; 
	@include transition(all 0.3s ease-out); 
	&:hover { 
		color: $white!important; 
	} 
}


// NAVIGATION BAR
nav, .nav {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background-color: $grey-1s;
	height: 80px; width: 100%;
	.container {
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);
	}
	.nav-logo-box{
		@include flexbox;
		@include align-items(center);
		img { height: 50px; }
	}
	.nav-links {
		a { margin-left: 16px; }
		h5 { 
			margin-left: 16px;
			margin-bottom: 0;
			// font-weight: 700;
			display: inline;
		}
	}
	@include for-size(large-desktop-down) {
		height: 70px;
		.nav-logo-box { img { height: 40px; } }
	}
	@include for-size(tablet-landscape-down) {
		height: 70px;
		.nav-logo-box {
			img { height: 40px; }
		}
		.nav-links { 
			display: none;
			a, h5 { 
				color: $white;
				margin-left: 10px;
			}
		}
	}
	@include for-size(phone-only) {
		height: 60px; 	
		.nav-logo-box { img { height: 30px; } }
		.nav-links { display: none; }
	}
}
// NAV LINK
.link-nav * {
	@include transition(all 0.08s linear);
	color: $white;
	&:hover{ color: $primary-dark; }
	&.active{
		color: $primary;
		&:hover{ color: $primary-dark; }
		span {
			border-bottom: 2px solid $primary;
			@include border-radius(1px); 
			&:hover { border-bottom: 2px solid $primary-dark; }
		}
	}
}
// MOBILE NAV
#mobile-nav-box{
	@include transition(all 0.3s ease-out);
	&.open-menu {
		background-color: rgba(0,0,0,0.95);
		right: 0;
	}
	@include for-size(tablet-landscape-up) { display: none; }
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	z-index: 90;
	position: fixed;
	right: -100%;
	width: 100%;
	height: 100%;
	.mobile-nav-links{
		text-align: center;
		a h1 { 
			font-weight: 100;
			margin-bottom: 0.8em;
		}
	}
}
// HAMBURGER ICON
#nav-icon {
	cursor: pointer;
	@include for-size(tablet-landscape-up) { display: none; }
	width: 38px;
	height: 36px;
	position: relative;
	// margin: 50px auto;
	@include rotate (0);
	@include transition(0.15s ease-in-out);
	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: $white;
		border-radius: 10px;
		opacity: 1;
		left: 0;
		@include rotate (0);
		@include transition(0.15s ease-in-out);
		&:nth-child(1) { top: 4px; }
		&:nth-child(2), &:nth-child(3) { top: 16.5px; }
		&:nth-child(4) { top: 30px; }
	}
	&.open span{
		&:nth-child(1), &:nth-child(4) { top: 18px; width: 0%; left: 50%; }
		&:nth-child(2) { 
			@include rotate (45);
		}
		&:nth-child(3) { 
			@include rotate (-45);
		}
	}
}





// LANDING Section
#landing{
	height: 100%;
	position: relative;
	.landing-box { 
		color: $white;
		@include flexbox;
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);
		.intro-box {
			width: 100%; height: 100%;
			@include flexbox;
			@include align-items(center);
			.intro { 
				margin-top: 5em;
				@include for-size(tablet-landscape-down) { 
					width: 100%; 
					text-align: center;
					@include flexbox;
					@include justify-content(center);
					@include align-items(center);
					@include flex-direction(column);
				}
				@include for-size(desktop-only) { width: 79%; }
				@include for-size(large-desktop-only) { width: 66%; }
				@include for-size(xl-desktop-up) { width: 66%; h1 { font-size: 9.4rem; } }
				.intro-line{
					height: 2px;
					// width: 50%;
					background-color: $primary;
					margin: 1em 0;
				}
				[data-aos="intro-line"] {
				  // transform: skewX(45deg);
				  width: 0%;
				  opacity: 0;
				  transition-property: width, opacity;
				  &.aos-animate {
				    width: 50%;
				    opacity: 1;
				  }
				}
			}
		}
		.down-scroll-box{
			padding-bottom: 1em;
			.down-scroll {
				@include flexbox;
				@include justify-content(center);
				@include align-items(center);
				@include flex-direction(column);
				color: $white-2s;
				&:hover { cursor: pointer; @include opacity(0.6) }
				
				img { height: 20px;}
			}
		}
	}
}






// ABOUT US Sectiom
#aboutUs {
	height: 100%;
	@include for-size(large-desktop-down) { padding: 2em 0 0; }
	@include for-size(tablet-landscape-down) { padding: 4em 0 0; }
	@include for-size(phone-only) { padding: 6em 0 0; }
	background-color: $white;
	.wrapper{
		height: 100%; width: 100%;
		@include flexbox;
		@include justify-content(space-around);
		@include align-items(center);
		.container{
			padding-top: 4em;
			height: auto;
			text-align: center;
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(center);
			@include flex-direction(column);
			max-width: 860px;
			#vismis-box{
				margin-top: 1em;
				width: 100%;
				height: 100%;
				@include flexbox;
				@include for-size(tablet-landscape-down) { @include flex-direction(column); }
				.vismis{
					height: 100%;
					@include for-size(large-desktop-down) { min-height: 150px; }
					@include for-size(desktop-down) { min-height: auto; }
					width: 50%;
					margin: 1em 0.5em;
					padding: 1.5em 1em;
					text-align: center;
					background-color: $grey-6s;
					@include border-radius(6px);
					@include for-size(tablet-landscape-down) {
						width: auto;
					}
				}
			}
		}
	}
	h5.title { color: $secondary;}
}

.title { text-transform: uppercase; color: $primary; }

// ABOUT US Sectiom
#kyoo {
	height: 100%;
	// border: 1px solid blue;
	@include for-size(large-desktop-down) { padding: 2em 0 0; }
	@include for-size(tablet-landscape-down) { padding: 0; height: auto }
	@include for-size(phone-only) { padding: 4em 0 0; }
	// @include gradient-bg($kyoo-b, $kyoo-a);
	background-color: white;
	.wrapper{
		// @include border(1px, red);
		background-image: url('../assets/images/kyoo-bg.png');
		@include for-size(tablet-landscape-up) { 
			@include background-size(contain);
			background-position: center 20%;
		}
		@include for-size(tablet-landscape-down) { 
			@include background-size(cover);
			background-position: center center;
			// margin-top: 5em;
			// margin-bottom: 10em;
		}
		background-repeat: no-repeat;
		height: 100%; width: 100%;
		@include flexbox;
		@include justify-content(center);
		@include align-items(flex-start);
		.container{
			// @include border(1px, blue);
			height: 100%;
			position: relative;
			@include flexbox;
			@include justify-content(center);
			@include for-size(tablet-landscape-down) { 
				// margin-bottom: 10em;
			}
			.product-content {
				// @include border(1px, green);
				position: relative;
				width: 100%;
				text-align: right;
				padding-top: 2em;
				@include flexbox;
				@include flex-direction(column);
				@include align-items(flex-end);
				@include for-size(tablet-landscape-down) { 
					// margin-top: 10em;
					// margin-bottom: 10em;
					@include justify-content(center);
					@include align-items(center);
					text-align: center;
				}
				.title h3{
					color: $grey-1;
					@include for-size(tablet-landscape-down) { margin-bottom: 1em; }
				}
				.img-device-mobile{
					width: 70%;
					margin-bottom: 2em; 
					@include for-size(tablet-landscape-up) { display: none; }
				}
				.product-logo img { 
					width: 360px; margin-bottom: 1em;
					@include for-size(desktop-only) { width: 320px; }
					@include for-size(tablet-landscape-down) { width: 42%; }
					@include for-size(phone-only) { width: 60%; }
					// @include for-size(large-desktop-only) { width: 60%; }
				}
				.product-desc { 
					margin-bottom: 1.5em;
					width: 46%;
					// border: 1px solid orange;
					@include for-size(tablet-landscape-down) { width: 100%; margin-bottom: 2em; }
					@include for-size(desktop-only) { width: 40%; }
					@include for-size(large-desktop-only) { width: 48%; }
				}
				.product-button{
					cursor: pointer;
					position: absolute;
					z-index: 80;
					right: 0;
					@include for-size(tablet-landscape-down) {
						position: static;
						margin-bottom: 10em;
					}
				}
			}
			.device-box{
				// @include border(red, 3px);
				@include align-self(flex-end);
				width: 100%;
				position: absolute;
				z-index: 50;
				.img-device{
					width: 70%;
					@include for-size(tablet-landscape-down) { display: none; }
					@include for-size(desktop-down) { width: 56%; }
					@include for-size(desktop-only) { width: 58%; }
					@include for-size(large-desktop-only) { width: 60%; }
				}
				.img-device-mobile{
					width: 70%;
					@include for-size(tablet-landscape-up) { display: none; }
				}
			}

			@include for-size(xl-desktop-up) {
				.product-content {
					.product-logo img { width: 400px; }
					.product-desc { width: 45%; }
				}
				.device-box{
					.img-device { width: 60%; }
				}
			}
		}
	}
}


#homeTeam{
	background-color: $secondary-light;
}


.filter{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	background-color: rgba(0,0,0,0.70);;
}

// TEAMS
#teamTop {
	min-height: auto;
	height: 500px;
	background-color: $grey-5;
	@include for-size(tablet-landscape-down) { height: 420px }
	@include for-size(phone-only) { height: 380px }
	.wrapper {
		position: relative;
		background-image: url('../assets/images/team_cover.jpg');
		@include background-size(cover);
		background-position: 50% 50%;
	    background-repeat: no-repeat; 
	    // background-attachment: fixed;
	}
	.container {
		@include flexbox;
		@include justify-content(center);
		@include align-items(center);
		@include flex-direction(column);
		max-width: 860px;
		text-align: center;
		margin-top: 2em;
		color: $white;
		position: absolute;
		z-index: 10;
	}
}
#teamContent {
	min-height: 100vh; height: auto;
	.container {
		padding: 4em 0;
		height: auto;
		text-align: center;
		@include flexbox;
		@include justify-content(center);
		@include align-items(center);
		@include flex-direction(column);
		.team-title { margin-bottom: 4em; }
	}
}
.people {
	width: 100%;
	@include flexbox;
	@include justify-content(space-between);
	@include flex-wrap(wrap);
	.person {
		position: relative;
		margin-bottom: 6em;
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);
		@include flex-direction(column);
		width: 32%;
		min-height: 380px;
		@include for-size(tablet-landscape-down) { 
			width: 48%;
			min-height: 380px;
			margin-bottom: 6em;
		}
		@include for-size(phone-only) { width: 100%; margin-bottom: 2em; }
		.emp-photo {
			background-color: $secondary-light;
			margin-bottom: 1em;
			width: 100%;
			min-height: 360px;
			position: relative;
			display: inline-block;
			overflow: hidden;
			.linkedin-box{
				@include transition(all 0.2s ease-in-out); 
				position: absolute;
				z-index: 10;
				bottom: -100px;
				padding: 16px;
				a {
					@include flexbox;
					@include justify-content(center);
					@include align-items(center);
				}
				.linkedin{
					@include transition(all 0.3s ease-out); 
					width: 30px;
					height: auto;
					margin-right: 0.5em;
					@include box-shadow(0px,4px,10px,1px,rgba(#000,0.1));
				}
				small {
					color: $white;
					font-weight: 400;
					margin: 0;
				}
				&:hover { 
					@include opacity(0.5);
				}
			}
			.front { 
				object-fit: cover;
				height: 100%;
				width: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
			} &:hover { 
				img.front { display: none; } 
				.linkedin-box { bottom: 0; }
			}
			.slides{
				height: 360px;
				width: 100%;
				padding: 0;
				margin: 0;
			    list-style: none;
			    visibility: hidden;
			    position: relative;
				&.active {
				    visibility: visible;
				}
				li {
					width: 100%; height: 360px;
					position: relative;
					overflow: hidden;
					background-color: #FFF;
					img { 
				    	width: auto; 
				    	height: 100%;
				    	object-fit: cover;
				    	position: absolute;
				    	top: 50%;
				    	left: 50%;
				    	-webkit-transform: translate(-50%,-50%);
				    	-ms-transform: translate(-50%,-50%);
				    	transform: translate(-50%,-50%);
				    }
				}
			}
		}
		.emp-details{
			@include flexbox;
			@include justify-content(center);
			@include align-items(center);
			@include flex-direction(column);
			.name {
				text-transform: uppercase;
				margin-bottom: 0.3em;
				font-weight: 900;
				line-height: 20px;
				@include for-size(tablet-landscape-down) {
					margin-bottom: 0.2em;
				}
			}
			small { font-weight: 400; color: $grey-2; font-style: italic; margin-bottom: 0.5em;}
			img.linkedin { 
				display: none;
				@include transition(all 0.3s ease-out); 
				width: 20px;
				height: auto;
				filter: grayscale(100%);
				&:hover { 
					filter: grayscale(0%);
				}
			}
		}
	}
}


// CAREERS
.cover-top {
	min-height: auto;
	height: 500px;
	background-color: $grey-5;
	@include for-size(tablet-landscape-down) { height: 420px }
	@include for-size(phone-only) { height: 380px }
	.wrapper {
		position: relative;
		@include background-size(cover);
		background-position: 50% 50%;
	    background-repeat: no-repeat; 
	    &#teamTop { background-image: url('../assets/images/top-team.jpg'); }
	    &#careerTop { background-image: url('../assets/images/top-career.jpg'); }
	}
	.container {
		@include flexbox;
		@include justify-content(center);
		@include align-items(center);
		@include flex-direction(column);
		max-width: 860px;
		text-align: center;
		margin-top: 2em;
		color: $white;
		position: absolute;
		z-index: 10;
		.top-text {
			font-weight: 100;
		}
	}
}


























































































